.header,
.header a {
  background-color: #1c2b35;
  color: white;
  text-decoration: none;
  font-family: Tahoma;
}
.header > div {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.menu ul {
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
.menu ul li {
  list-style-type: none;
}
