.header {
  background-color: #1c2b35;
  color: white;
}
.header > div {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  padding: 0;
  display: flex;
  gap: 20px;
}
.menu ul li {
  list-style-type: none;
}
